ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9c640c  ;
  opacity: 0.6;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 60px;
  text-decoration: none;
}

li a:hover {
  background-color: #7e5109;
}

h1 {
    color: #9c640c;
    border-color: #9c640c;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    position: relative;
    animation: text 3s 1;
}

body{
    background-image: url(fond.jpg);
}

@keyframes text{
    0%{
        color: white;
        margin-bottom: 40px;
    }
    30%{
        letter-spacing: 30px;
        margin-bottom: -40px;
    }
    
}

.aaa{
    border-style: double;
    border-bottom-color: darkgoldenrod;
    background-color:beige;
}